body {
    font-family: "Montserrat", sans-serif;
    background: #f5f7fa;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0 auto;
    background: #ffffff;
    width: 1200px;
}

aside {
    width: 370px;
    background: #1e2939;
}

aside > .tech-skills-block,
.soft-skills-block {
    margin: 50px 30px 0;
}

.cv-photo {
    margin: 0 0 0 0;
}

.contact-block {
    margin: 114.45px 30px 0;
}

.contact-links {
    color: white;
    font-size: 14px;
    line-height: 24px;
}

.header-secondary {
    color: #ffffff;
}

.bold {
    font-weight: 700;
    color: white;
}

.list-secondary {
    color: #fb6d3a;
    font-size: 14px;
    line-height: 24px;
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

.list-secondary-item {
    color: white;
}

main {
    padding-left: 88px;
    padding-top: 102px;
    padding-bottom: 102px;
    padding-right: 88px;
}

.main-description {
    width: 700px;
}

.job-title {
    font-weight: 700;
    font-size: 15px;
    line-height: 14px;
}

h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: 40px;
}

.projects {
    width: 485px;
    margin-bottom: 30px;
}

.list-primary {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding-left: 0;
    list-style-position: inside;
}

.list-primary-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-decoration: none;
}

.header-primary {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 12px;
}

.job-position {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.highlight {
    color: #fb6d3a;
}

.job-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
}

.job-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
    margin-bottom: 30px;
}

.experience {
    margin-bottom: 30px;
}

.skills {
    margin-bottom: 30px;
}

.education {
    margin-bottom: 30px;
}
